form                      {
  .editor                 { width: 534px; margin-top:10px;}
  .nested_attributes      { margin-bottom:10px; }
}

.wysihtml5-toolbar         { margin:0; padding:0; list-style:none; 
  li                       { float:left; }
}