#submissions      { 
  li              { padding:20px 0; 
    .item         { padding:5px 0; }
    .workitem     { padding:10px; background:#eeeeee; border:1px solid #aeaeae; border-radius:5px; }
  }
}