$min-600: 'screen and (min-width: 600px)';
$min-700: 'screen and (min-width: 700px)';
$min-800: 'screen and (min-width: 800px)';
$min-1000: 'screen and (min-width: 1000px)';

textarea:focus,
input[type="text"]:focus      { outline: 0; outline: thin dotted \9; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

body                          { font-family: 'Lato', sans-serif; color:#5f5d5d; font-weight: 100; font-size:19px; }

h1,h2,h3,h4,h5,h6             { font-family: 'BenchNine', sans-serif; font-weight: 100; text-transform: uppercase; }

h2														{ font-size: 40px; }
hr														{ border-color:#000; }

a:focus                       { outline: none; }

.container-fluid,	hr          { max-width:920px; margin:0 auto; }

a.button,
input[type='submit'].button   { background:#414040; color:#dfdfdf; text-transform:uppercase; display:inline-block; font-weight:400; 
                                padding:20px 40px; font-size:30px; font-style:normal; line-height:1.2em; vertical-align: bottom; border:none; border-radius: 0;
                                -webkit-transition: background 150ms ease; -moz-transition: background 150ms ease; transition: background 150ms ease; text-decoration: none;
  &:hover                     { text-decoration:none; }
                            
  &.inactive                  { background:#9c9b9b; cursor:default; text-decoration: none; }
}

header                        { text-align:center; position:relative;
  #strip                      { background:url(image_path('header-texture.jpg')) center bottom no-repeat; background-size: cover; height: 81px; }
  
  #site-name                  { position:absolute; top:0px; margin-left:-52px; width: 105px; height: 104px; left: 50%;
    @media #{$min-600}        { position:relative; top:-30px; float:left; left: auto; margin-left:0; float: left;}
    a                         { text-indent:-9999px; background:url(image_path('logo.png')) no-repeat center 0px;  width: 100%; height: 100%; display:inline-block; 
      &:hover                 { }
    }
  }
  nav                         { padding-top:50px;
    @media #{$min-600}        { padding-top: 20px; }
    a                         { font-family: 'Josefin Slab', serif; font-size:19px; color:#585858; display:inline-block; margin: 20px 10px 0; text-transform: uppercase;
      @media #{$min-800}      { margin: 20px 30px 0; }
      @media #{$min-1000}     { margin: 20px 55px 0; }
    }              
  }
}

.region                       { padding:40px 0px; 
  @media #{$min-600}          { padding:20px 0; }
  &:last-child                { border-bottom:none; margin-bottom:200px; }
}

.narrow                       {
  @media #{$min-800}          { padding: 0 80px; } 
}



#the_idea                     { 
  blockquote                  { margin:45px 0; padding:0; font-size:30px; font-weight: 100; font-style: italic; color:#585858; 
  															font-family: 'Josefin Slab', serif; line-height:1.2em; border-left:none; text-align: center; text-transform:uppercase;}
}




#artists                      {   
  .details										{ margin: 140px 0 40px; min-height: 200px; position: relative; padding-top: 60px;
  	 @media #{$min-600}				{ margin: 40px 0; padding-top: 0;}
  	.photo                    { border-radius: 50%; width: 110px;  position:absolute; top: -60px; margin-left: -55px; left: 50%;
	  	@media #{$min-600}			{ float:left; width: auto; position:relative; top: -20px; margin-right: 15px; margin-left: 0; left: 0;}
  	}
	  .container-fluid					{ clear:none; 
		  &:after									{ clear:none; }
	  }
  }
  
  .info												{ margin-top: 30px; }
  
  #shane 											{
  	.details,									
  	.info											{ background:#f4e8e8; }
  }
  
  #jeff 											{
  	.details,									
  	.info											{ background:#f3f1e1; }
  }
  
  .artist-images							{ margin-bottom: 3em; }
  
  .active .mask-image         { display:none; }
  .artist-image               { width: 28%; float:left; margin-right: 8%; 
    &:last-child              { margin-right: 0; }
  }
  
  section.workitems						{ margin-top: 2em;
  	.container-fluid					{ padding: 0; margin:0 20px; 
	  	@media #{$min-600}			{ padding: 0 20px; margin: 0 auto; }
  	} 
  	.workitem-images					{	position:relative; height: 480px;
	  	.workitem-image					{ position: absolute; overflow: hidden; border: 1px solid #cecece; transition: left 750ms ease, width 750ms ease;
	  		&:hover								{ border-color: #000; cursor: pointer; }
				img										{ max-width: none; margin-left: -400px; transition: margin 750ms ease; }
				
				a											{ position: absolute; bottom: 10px; right: 10px; background: #414141; padding: 7px 0; 
																text-align: center; width: 80px; font-size: 13.5px; font-style:italic; color: #f0f0f0; 
																font-family: 'Lato', sans-serif; text-transform:uppercase; z-index:-1; opacity:0; 
																transition: opacity 200ms ease; transition-delay: 700ms;
																
					&.active						{ z-index:1; opacity:1; }										
				}	
			}
			
			&.narrow								{ height: auto;
				.workitem-image				{ position: static; border: none; transition: none; width: auto; 
		  		&:hover							{ border:none; }
					img									{ margin-left: 0; transition:none; max-width: 100%;}
				}
				
				
			}
	  	
	  	
	  	&.image-0								{
		   .image-0								{ left: 0; width: 75%; 
			  	img									{ margin-left: 0; }
		  	}
		  	.image-1							{ left: 77.5%; width: 10%; }
		  	.image-2							{ left: 90%; width: 10%;}
	  	}
	  	
	  	&.image-1								{
		   .image-0								{ left: 0; width: 10%; }
		   .image-1								{ left: 12.5%; width: 75%; 
			  	img									{ margin-left: 0; }
		  	}
		  	.image-2							{ left: 90%; width: 10%;}
	  	}
	  	
	  	&.image-2								{
		   .image-0								{ left: 0; width: 10%; }
		   .image-1								{ left: 12.5%;  width: 10%; }
		   .image-2							  { left: 25%; width: 75%;
			  	img									{ margin-left: 0; }
		  	}
	  	}

	  }
	  
	  .workitem									{ display:none; 
		  &.active								{ display:block; }
	  }
  }
} 

#the_work                     { 
  .artist                     { margin-bottom:100px; 
    h3												{ margin-bottom: 0; line-height: 1em;}
		span											{ color: #999; text-transform:uppercase; font-style: italic; font-size: 15px; font-family: 'Josefin Slab', serif; display:block; margin-bottom: 1.5em;}
  }  
}

#donate                       { text-align:center;
  .button                     { margin-top:20px; }
}

#submission                   {  }

.new_submission               { max-width: 720px; margin:40px auto 0; 
  label                       { display:none; }
  input                       { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:100%; height:auto; padding:10px; 
                                font-size:20px; text-transform:uppercase; line-height:1.2em; background:#e5e5e5; color:#3b3b3b; border:none; font-style: italic;
                                border-radius:15px; }
                                
  textarea                    { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:100%; height:300px; padding:20px; 
                                font-size:20px; text-transform:uppercase; line-height:1.2em; background:#e5e5e5; color:#3b3b3b; border:none; font-style:italic;
                                border-radius:15px;}
                                
  .item                       { width:100%; 
    &.half                    { width:100%; 
       @media #{$min-600}     { width:49%; }
    }
  }
  
  .buttons                    { text-align:center; margin-top:75px;
    .or                       { font-size:30px; font-weight:400; font-family: 'Arvo',serif; position:relative; margin:20px 10px; display:block;
      @media #{$min-800}      { display:inline; bottom:20px; margin: 20px 10px; }
    }
  }
  
  .workitem-submission        { margin:50px 0 60px;
    @media #{$min-600}        { padding-left:10px; position:relative; left:-10px; border-left:1px solid #646464; }
    .item                     { 
      &:last-child            { 
        input                 { margin-bottom:0; }
      }
    }
     
    .submission-label         {  display: inline-block; position:relative; font-family: 'Arvo', serif; font-size:19px; color:#585858; text-transform: uppercase; margin-bottom:10px;
       @media #{$min-600}     { transform-origin: left bottom; transform: rotate(-90deg); left: -10px; top:265px; position:absolute; margin-bottom:0; }
    }
  }
  
  input[type='submit'].button { width:auto; }
}

#viewer												{ position:fixed; top:0;right:0;bottom:0;left:0; text-align:center; background: rgba(255,255,255,.9); z-index: 1000;
	#close											{ cursor:pointer; display: block; width: 20px; height: 20px; text-align: center; position:absolute; top:10px; right:10px; }
}

.table-wrapper				{ display: table; position:relative; height:100%; width: 100%; max-height:100%; max-width:100%;
	.table-cell					{ display: table-cell; height:100%; width: 100%; vertical-align:middle; text-align:center;}
}
