$min-600: 'screen and (min-width: 600px)';
$min-700: 'screen and (min-width: 700px)';
$min-800: 'screen and (min-width: 800px)';
$min-1000: 'screen and (min-width: 1000px)';

@import 'util';

textarea:focus,
input[type="text"]:focus      { outline: 0; outline: thin dotted \9; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

body                          { font-family: 'Lato', sans-serif; font-weight: 500; font-size:18px; line-height: 28px;}

h1,h2,h3,h4,h5,h6             { font-family: 'BenchNine', sans-serif; font-weight: 500; text-transform: uppercase; }

h2														{ font-size: 40px; }
hr														{ border-color:#000; }

li														{ line-height: inherit; }

a:focus                       { outline: none; }

.container-fluid,	hr          { max-width:920px; margin:0 auto; }

.hidden                       { display:none; }


input[type="email"],
input[type="text"],  
textarea            				 	{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width:100%; height:auto; padding:10px; 
                                font-size:20px; text-transform:uppercase; line-height:1.2em; color:#3b3b3b; border:3px solid #cac8c8; font-style: italic; 
                                font-family: 'Lato', sans-serif; 
    
    &:focus										{ border-color: #cbac37; }
}


a.button,
input[type='submit'].button   { background:#414040; color:#dfdfdf; text-transform:uppercase; display:inline-block; font-weight:400; font-family: 'Josefin Slab', serif; 
                                padding:20px 30px 15px; font-size:20px; font-style:normal; line-height:1.2em; vertical-align: bottom; border:none; border-radius: 0;
                                -webkit-transition: background 150ms ease; -moz-transition: background 150ms ease; transition: background 150ms ease; text-decoration: none;
                                
  @media #{$min-600}          { font-size: 30px; }
  &:hover                     { text-decoration:none; background-color: #000; color:#fff;}
                            
  &.inactive                  { background-color:#9c9b9b; cursor:default; text-decoration: none; }
}

#strip                        { background:url(image_path('header-texture.jpg')) center bottom no-repeat; background-size: cover; height: 81px; position: relative;
  video                       { width: 100%; height: auto; position: absolute; bottom: 0;}
}


#back-to-top                  { position: fixed; bottom: 100px; right: 10px; width: 117px; height: 48px;  overflow: hidden;  display:block;
                                opacity: 0; transition: opacity 200ms ease-out; cursor: pointer; text-align: center;
                                
  &.active                    { opacity: .3; }
  &:hover                     { opacity: .9; }

  a                           { display: block;
    &:hover                   { text-decoration:none; }
  }
  span                        { display: block; position:relative; color: #fff; text-decoration: none; font-weight: 100; font-size: 56px; top:9px; }
  video                       { width: 300px; height: auto; margin-left: -50%; position: absolute; }
}

header                        { text-align:center; position:relative;
  #site-name                  { position:absolute; top:-65px; margin-left:-52px; width: 105px; height: 104px; left: 50%; 
    @media #{$min-600}        { position:relative; top:-40px; float:left; left: auto; margin-left:0; float: left; margin-bottom: -40px; }
    a                         { text-indent:-9999px; background:url(image_path('logo.png')) no-repeat center 0px;  width: 100%; height: 100%; display:inline-block; 
      &:hover                 { }
    }
  }
  
  #header                     { padding-bottom: 10px; box-shadow: 0px 0px 4px rgba(0,0,0,0); -webkit-transition: box-shadow 400ms ease; -moz-transition: box-shadow 400ms ease; 
                                transition: box-shadow 400ms ease;
    &.fixed                   { position:fixed; top:0; left:0; right:0; background: #fff; box-shadow: 0px 0px 4px rgba(0,0,0,.25); z-index:100;}
  }
  
  nav                         { padding-top:50px;
    @media #{$min-600}        { padding-top: 10px; }
    a                         { font-family: 'Josefin Slab', serif; font-size:19px; color:#585858; display:inline-block; margin: 20px 10px 0; text-transform: uppercase;
      @media #{$min-800}      { margin: 20px 30px 0; }
      @media #{$min-1000}     { margin: 20px 55px 0; }
    
	    &:hover,
	    &:visited								{ color:#000; }
    }           
  }
}

.region                       { padding:100px 0px 80px; 
  @media #{$min-600}          {}
  &:last-child                { border-bottom:none; margin-bottom:200px; }
}

.narrow                       {
  @media #{$min-800}          { padding: 0 80px; } 
}

.center 											{ text-align: center; }

.up														{ text-transform: uppercase; font-weight: 400; }

.left													{
	@media #{$min-600}					{ float:left; }
}

.right												{
	@media #{$min-600}					{ float:right; }
}

#the_idea                     { 
  blockquote                  { margin:45px 0 0; padding:0; font-size:30px; font-weight: 100; font-style: italic; color:#585858; 
  															font-family: 'Josefin Slab', serif; line-height:1.2em; border-left:none; text-align: center; text-transform:uppercase;}
}

#mailer                       { background: #e5e5e5; padding: 20px 0;
  .left                       { width: 100%;
    @media #{$min-600}        { width: 48%; }
  }

  .right                      { width: 100%; 
    @media #{$min-600}        { width: 48%; }
  }
	#mc_embed_signup            { margin-top: 30px; 
		@media #{$min-600}				{ margin-top: 0; }
	  form                      { padding: 0 60px 0 0; margin: 0; position: relative;}
	  input[type=email]         { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: auto;}
	  input[type=submit]        { position: absolute; top: 0; right: 0; padding: 0; background:#414040 url(image_path('arrow.png')) center center no-repeat; 
	  														width: 49px; height: 49px; border-radius: 50%;}
	  .mc-field-group           { padding:0; }
	  
	  #mce-success-response			{ font-size: 17px; font-weight: bold; }
	}
}


#artists                      {   
  .details										{ margin: 140px 0 40px; min-height: 200px; position: relative; padding-top: 60px; 
  	 @media #{$min-600}				{ margin: 160px 0; padding-top: 40px; padding-bottom: 10px; }
  	.photo                    { border-radius: 50%; width: 140px;  position:absolute; top: -70px; margin-left: -70px; left: 50%;
	  	@media #{$min-600}			{ width: 220px; top: -110px; margin-left: -110px; }
  	}
	  .container-fluid					{ clear:none; 
		  &:after									{ clear:none; }
	  }

  }
  
  .info												{ margin-top: 30px; }
  
  .artist-0										{
  	.details,									
  	.info											{ background:#f3f0e0; @include lin-gradient(#f3f0e0, #fdfcf4, 32%, 66%); }
  }
  
  .artist-1		 								{
  	.details,									
  	.info											{ background:#fbf2f2; @include lin-gradient(#f8e8e8, #fff5f5, 32%, 66%);	}  
  }
  
  .artist-2		 								{
  	.details,									
  	.info											{ background:#f4e8ec; @include lin-gradient(#e9e8f3, #faf9ff, 32%, 66%);	}  
  }
  
  .artist-images							{ margin-bottom: 3em; }
  
  .active .mask-image         { display:none; }
  .artist-image               { width: 28%; float:left; margin-right: 8%; 
    &:last-child              { margin-right: 0; }
  }
  
  section.workitems						{ margin-top: 2em;
  	.container-fluid					{ padding: 0; margin:0 20px; 
	  	@media #{$min-600}			{ padding: 0 20px; margin: 0 auto; }
  	} 
  	.workitem-images					{	position:relative; height: 480px;
	  	.workitem-image					{ position: absolute; overflow: hidden; border: 1px solid #cecece; transition: left 750ms ease, width 750ms ease;
	  		&:hover								{ border-color: #000; cursor: pointer; }
				img										{ max-width: none; margin-left: -400px; transition: margin 750ms ease; }
				
				a											{ position: absolute; bottom: 10px; right: 10px; background: #414141; padding: 7px 0; 
																text-align: center; width: 80px; font-size: 13.5px; font-style:italic; color: #f0f0f0; 
																font-family: 'Lato', sans-serif; text-transform:uppercase; z-index:-1; opacity:0; 
																transition: opacity 200ms ease; transition-delay: 700ms;
																
					&.active						{ z-index:1; opacity:1; }										
					&:hover							{ background: #000; color: #fff; text-decoration: none; }
				
				}	
			}
			
			&.narrow								{ height: auto;
				.workitem-image				{ position: relative; border: none; transition: none; width: auto; 
		  		&:hover							{ border:none; }
					img									{ margin-left: 0; transition:none; max-width: 100%;}
				}
				
				
			}
	  	
	  	
	  	&.image-0								{
		   .image-0								{ left: 0; width: 75%; 
			  	img									{ margin-left: 0; }
		  	}
		  	.image-1							{ left: 77.5%; width: 10%; }
		  	.image-2							{ left: 90%; width: 10%;}
	  	}
	  	
	  	&.image-1								{
		   .image-0								{ left: 0; width: 10%; }
		   .image-1								{ left: 12.5%; width: 75%; 
			  	img									{ margin-left: 0; }
		  	}
		  	.image-2							{ left: 90%; width: 10%;}
	  	}
	  	
	  	&.image-2								{
		   .image-0								{ left: 0; width: 10%; }
		   .image-1								{ left: 12.5%;  width: 10%; }
		   .image-2							  { left: 25%; width: 75%;
			  	img									{ margin-left: 0; }
		  	}
	  	}

	  }
	  
	  .workitem									{ display:none; 
		  &.active								{ display:block; }
	  }
  }
} 



#the_work                     { 
  .artist                     { margin-bottom:100px; 
  	&:last-child							{ margin-bottom: 0; }
    h3												{ margin-bottom: 0; line-height: 1em;}
		span											{ color: #999; text-transform:uppercase; font-style: italic; font-size: 15px; 
																font-family: 'Josefin Slab', serif; display:block; margin-bottom: 1.5em; 
			@media #{$min-600}			{ margin-bottom: 2.4em; }
		}
  }  
}


#donate                       { background: #e5e5e5;
	.button                  		{ margin: 50px auto 30px; display: block; width: 223px; font-size: 30px;
		@media #{$min-600}				{ font-size: 40px; width: 300px; }
	}
	
	.stats 											{ text-align: center; text-transform: uppercase; font-style: italic; font-size: 16px;
		li												{ width: 180px; height: 200px; border-radius: 50%; background: #fff; display: inline-block; padding: 0 10px; margin: 10px 20px;
			&.first                 { 
				span									{ color: #ebd15e; }
			}
			
			&.second								{
				span									{ color: #d7c884; }
			}
			
			&.third 								{ 
				span									{ color: #dfd9bf; }
			}
			
			
			span										{ font-family: 'BenchNine', sans-serif; font-weight: 100; text-transform: uppercase; font-size: 86px; font-style: normal; }
			hr											{ border-color: #EEEEEE; margin: 10px 0; }
		
			@media #{$min-600}			{   }
			@media #{$min-700}			{  }
		
		}
	}
}

#submission                   {  }

.new_submission               { max-width: 720px; margin:40px auto 0; 
  label                       { display:none; }  
  
  textarea										{ height:200px; }                               

  .item                       { width:100%; 
    &.half                    { width:100%; 
       @media #{$min-600}     { width:49%; }
    }
  }
  
  .buttons                    { text-align:center; margin-top:75px;
    .or                       { font-size:30px; font-weight:400; font-family: 'Arvo',serif; position:relative; margin:20px 10px; display:block;
      @media #{$min-800}      { display:inline; bottom:20px; margin: 20px 10px; }
    }
  }
  
  .workitem-submission        { margin:50px 0 60px;
    @media #{$min-600}        { padding-left:10px; position:relative; left:-10px; border-left:1px solid #646464; }
    .item                     { 
      &:last-child            { 
        input                 { margin-bottom:0; }
      }
    }
     
    .submission-label         {  display: inline-block; position:relative; font-family: 'Arvo', serif; font-size:19px; color:#585858; text-transform: uppercase; margin-bottom:10px;
       @media #{$min-600}     { transform-origin: left bottom; transform: rotate(-90deg); left: -10px; top:265px; position:absolute; margin-bottom:0; }
    }
  }
  
  input[type='submit'].button { width:auto; }
}

#viewer												{ position:fixed; top:0;right:0;bottom:0;left:0; text-align:center; background: rgba(255,255,255,.9); z-index: 1000;
	#close											{ cursor:pointer; display: block; width: 30px; height: 30px; text-align: center; position:absolute; top:10px; right:10px; 
																z-index:20; font-weight: 400; border-radius: 50%; border: 1px solid #414141; line-height: 30px; color: #414141;
		&:hover										{ color: #000; border-color: #000;  }															
	}
	img													{ border:1px solid #cecece; }
}

.table-wrapper								{ display: table; position:relative; height:100%; width: 100%; max-height:100%; max-width:100%;
	.table-cell									{ display: table-cell; height:100%; width: 100%; vertical-align:middle; text-align:center;}
}

#about 												{ background: #e5e5e5;
  .container-fluid            { padding-top: 30px; }
	#about-image								{ height: 300px; background: url(image_path('about.jpg')) center center no-repeat; background-size: cover; 
		@media #{$min-600}				{ height: 600px; }
	}
	.us													{ margin-top: 30px; }
	article											{ display: block; margin-bottom: 20px;
		@media #{$min-600}				{ width: 48%; }

	}
}

footer												{ padding: 10px 0; font-size: 15px; 
	span												{ display:block; padding: 5px 0; 
		@media #{$min-600}				{ padding: 0; }
	}
	
	a														{ color: inherit; }
}
